
*.class
*.log
*.ctxt
hs_err_pid*
replay_pid*
*.pid

.gradle/
build/

!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

.idea/
*.iml
*.iws
out/

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

/test-output/
/jacoco.exec
/.jacoco/
/coverage/
/reports/

*.swp
*.swo
*~
